.report-test {
  text-align: center;
}

.report-test-logo {
  animation: report-test-logo-spin infinite 20s linear;
  height: 80px;
}

.report-test-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.report-test-title {
  font-size: 1.5em;
}

.report-test-intro {
  font-size: large;
}

@keyframes report-test-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Custom Report table */
/* hidding user if columns */
.report__preview-container .page__table .header .col.userId,
.report__preview-container .page__table .row .col.userId {
  visibility: hidden;
  display: none;
}
